*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
  background-color: #f05a22;
  color: white;
  padding:10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  position: fixed;
  width:100%;
}

.nav-icons{
  background-color: white;
  padding:15px;
  border-radius: 30px;
  
}
.nav-icons a{
  color: #f9ddcf;
  margin:30px;
  font-size: 20px;
}

.nav-icons .active{
  color: #f05a22;
}

.body{
  position: relative;
  padding:50px;
  background-color: #f4f4f4;
  top:75px;
  min-height:100vh;
}

.search{
  border-radius: 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-top: 10px;
}
input{
  width:100%;
  padding:15px 50px;
  border:none;
  border-radius: 10px;
}
input:focus{
  outline: none;
}

.fi-search{
  position: absolute;
  left: 15px;
  top:15px;
}

.post-items{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:20px;
}
p{
  color: gray;
}
.post-items > div{
  background-color: white;
  padding: 20px;
  width:450px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.post-items div img{
  width:100%;
  height:250px;
  border-radius: 20px;
}

.read-more{
  color:#f05a22;
  text-decoration: none;
  font-weight: bold;
}

.next-btn{
  background-color: #f05a22;
  color:white;
  width:50px;
  height:50px;
  text-align: center;
  padding-top: 5px;
  font-size: 30px;
  border-radius: 10px;
}

.next-btn a{
  text-decoration: none;
  color:white
}

.details{
  display: flex;
  margin-top: 10px;
}



.view-details{
  background-color: #f05a22;
  margin-right: 20px;
  color: white;
}

.view-userInfo{
  background-color: white;
}

.view-details,.view-userInfo{
  border:none;
  padding:10px 20px;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.myflex{
  display: flex;
  gap:30px;
  width:100%;
}
.myflex>div>img{
  width:400px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.details-final{
  margin-top: 50px;
}

.back-button{
  display: flex;
  margin-bottom: 20px;
  gap:30px;
  align-items: center;
}
.body>div>button{
  padding:10px;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border:none;
}

.more-posts{
  margin-top: 50px;
}

.image-portion{
  position: relative;
}

.image-title{
  width:100%;
  position: absolute;
  bottom:10px;
  color: white;
  display: flex;
  padding:20px;
  justify-content: space-between;

}

.image-title div{
  width:100px;
  display: flex;
  gap:10px;
  font-size: 20px;
}

.social{
  color:white;
}


@media only screen and (max-width: 400px) {
  nav{
    flex-direction: row;
  }
  .myflex{
    display: block;
  }
}

@media only screen and (max-width: 1440px) {
  .post-items>div{
    width:400px;
  }
}

@media only screen and (max-width: 1030px) {
  .post-items>div{
    width:450px;
  }
}